[Unit]
Description=Node.js Backend for NoDockerSecuredProject
After=network.target postgresql.service
Requires=postgresql.service

[Service]
Type=simple

# Replace 'ubu' with your user.
User=ubu
Group=www-data

# Replace 'ubu' with your user.
WorkingDirectory=/home/ubu/NoDocker_SecuredProject/backend
ExecStart=/usr/bin/node server.js
Restart=on-failure
RestartSec=5
StartLimitIntervalSec=300
StartLimitBurst=5

MemoryLimit=4G

# 1 core = 100%, which means 3 CPU cores maximum could be used.
CPUQuota=300%

# Disabling Core Dumps to protect sensitive RAM data.
LimitCORE=0

# Prevents the process from gaining any new privileges (e.g sudo/setuid).
NoNewPrivileges=true
# Gives the process its own private /tmp directory.
PrivateTmp=true
# Restricts access to system-critical folders (/boot, /etc, /usr) to Read-Only.
ProtectSystem=full
# Prevents access to /home, /root, and /run/user for maximum isolation.
ProtectHome=true

EnvironmentFile=/home/ubu/NoDocker_SecuredProject/backend/.env

[Install]
# Auto start after network and users ready.
WantedBy=multi-user.target